<ul class='row' >
  <li class='card col s6' style='position:relative;height:88%;' >
    <div class="card-image">
      <img src="stylesheets/img/csun_graduation.jpg">
      <div class="bubble-bottom card-title center">
        <p>Masters in I.T.</p>
        <p>3.9 GPA</p>
      </div>
    </div>
  </li>
  <li class='card col s6' style='position:relative;height:88%;' >
    <div class="card-image">
      <img src="stylesheets/img/safeme.jpg">
      <div class="bubble-top card-title center">
        <p>Masters in I.T.</p>
        <p>3.9 GPA</p>
      </div>
    </div>
  </li>
  <!--li class='card col s4' style='position:relative;' >
    <div class="card-image">
      <img src="stylesheets/img/brooklyn.jpg" style='max-height:70vh;'>
      <div class="bubble-top card-title center">
        <p>Masters in I.T.</p>
        <p>3.9 GPA</p>
      </div>
    </div>
  </li>
  <li class='card col s4'>
    <div class="card-image">
      <img src="stylesheets/img/safeme.jpg">
      <span class="card-title black">Masters in I.T<p>GPA 3.9</p></span>
    </div>
  </li>
  
  
  
  
  
  
  <li class='card col s3'>
    <div class="card-image">
      <img src="stylesheets/img/safeme.jpg">
      <span class="card-title black">Masters in I.T<p>GPA 3.9</p></span>
    </div>
    <h3>Community</h3>
    <h4>Clark Univeristy Graudate Student Coucil Board</h4>
    <h4>Cal State Northridge International Student Association President</h4>
  </li-->
</ul>