<div class='row'>
<div class='left offset-l1 col s12 m7 l5' style="padding-left:30px; background-color: rgba(255,255,255,0.5);">
  <h2>Hi,</h2>
  <h1>I'm Dushyanthi</h1>
  <h2>Software Developer</h2>
  <h3>W/ Ruby, JS, HTML/CSS, and SQL Skills</h3>
  <h3>& a Master in IT</h3>
  <div class='row left'>
   <a href='//github.com/dushi27' class='waves-effect waves-default btn-flat icon icon-github' 
   style='font-size:40px;color:#039BE5;border:2px solid #039BE5;border-radius:10px;' target='_blank'></a>
   <a href='//www.linkedin.com/in/dushyanthipieris' class='waves-effect waves-default btn-flat icon icon-linkedin' 
   style='font-size:40px;color:#039BE5;border:2px solid #039BE5;border-radius:10px;' target='_blank'></a>
    <a href='//drive.google.com/file/d/0Bwl7pXIgrOpMaUN2WVVNVWdPSzA/view?usp=sharing' class='waves-effect waves-default btn-flat icon icon-resume' 
   style='font-size:38px;color:#039BE5;border:2px solid #039BE5;border-radius:10px;' target='_blank'></a>
  </div>
</div>
<div class='col s12 m12 l5 offset-s9 offset-8 offset-l6'>
  <img src='stylesheets/img/dushyanthi_pieris.jpg' class='responsive-img' 
  style='position:fixed; bottom:0;right:0;height:100%;z-index:-1;background-color:white;'>
</div>
</div>
<!--text-shadow: yellow 0.1em 0.1em 0.1em-->

