<!DOCTYPE>
<html>
  <head>
    <title>Dushyanthi</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css"></link>
    
    <!--optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body class=<%=@page_class%>>
    <%= yield %>
    
     <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/bin/materialize.min.js"></script>
   
  </body>
</html>
