<!DOCTYPE>
<html>
  <head>
    <title>Dushyanthi Pieris</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css"></link>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--chartkick-->
    <script src="//www.google.com/jsapi"></script>
    <script src="js/bin/chartkick.js"></script>
  </head>
  <body class='<%=@page_class%>' id='#yourMainContainer'>
    <div id='navbar' class= 'col s8 m6 l7'>
      <%if @page_class == 'works'%>
        <a href='/' class='waves-effect wave-light'>Home</a>
      <%elsif @page_class == 'home'%>
        <a href='/works' class='waves-effect wave-light'>Projects</a>
      <%end%>
    </div>
    <%= yield %>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bin/materialize.min.js"></script>
    <script type="text/javascript" src="js/bin/custom.js"></script>
  </body>
</html>
