<div id="safeme" class="col s12 wrap">Safeme</div>
<p>Safeme is a platform for using wearable devices to empower people overcome barriers to bystander intervention. 
The idea won the Women's Health Code-a-thon organized by the 2014 Clinton Foundation.</p>
<a href='safeme.herokuapp.com'>Visit the Website</a>
<a href='http://dushi27.github.io/safeme'>View Source</a>
<p>Skills:</p><p class='badge'>Ruby</p>