<div class='row center valign-wrapper'>
  <div class='col s12 m6 l5 wrap center' id="safeme" style='height:92%;border:4px solid black;text-align: center;'>
    <h2>SafeMe</h2>
    <!--ribbon-->
    <div class="ribbon-wrapper">
		<div class="ribbon-front" style='color:white; vertical-align:middle;margin:0 auto;font-size:18px;t'>
			Winner of 2014 Clinton Foundation Hackathon
		</div>
		<div class="ribbon-edge-topleft"></div>
		<div class="ribbon-edge-topright"></div>
		<div class="ribbon-edge-bottomleft"></div>
		<div class="ribbon-edge-bottomright"></div>
		<div class="ribbon-back-left"></div>
		<div class="ribbon-back-right"></div>
	</div>
    <p>Safeme is a platform for using wearable devices to empower people overcome barriers to bystander intervention. 
    The idea won the Women's Health Code-a-thon organized by the 2014 Clinton Foundation.</p>
    <a href='//safeme.herokuapp.com' target='_blank' class='comic-btn'>Visit the Website</a>
    <a href='//dushi27.github.io/safeme' class='comic-btn' target='_blank'>View Source</a>
    <p style='margin-bottom:0;'>Skills:</p>
    <span>Ruby/ PubSub/ API</span>
  </div>

  <div class='col s12 m6 l7' style='display:block;padding:0;'>
    <div class='z-depth-4' style='height:52%;width:100%;border:4px solid black;'>
      <h2>Bookz</h2>
      <p>Bookz, a business to consumer e-commerce web app. Bookz allows admin users to update the products catalog, see current
      orders and add other admin users via an authenticated interface. Customers can brows the bookstore catalog and place 
      orders through the application.</p>
      <a href='//bookzapp.herokuapp.com' target='_blank' class='comic-btn' >Visit the Website</a>
      <a href='//dushi27.github.io/depot' class='comic-btn' target='_blank'>View Source</a>
      <p style='margin-bottom:0;'>Skills:</p>
      <span>Ruby/ Google Analytics/ Mendrill Email Infrastructure</span>
    </div>
    <div class='card' style='height:40%;width:100%;border:4px solid black;margin:0;'>
      <h3>Graduate Student Council Website</h3>
      <p>Developed and deploied Clark University GSC website during the tenure as a GSC Board member.</p>
      <a href='//web.clarku.edu/students/gsc' target='_blank' class='comic-btn'>Visit the Website</a>
      <p style='margin-bottom:0;'>Skills:</p>
      <span>Bootstrap/ SSH</span>
    </div>
  </div>
</div>